@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Major+Mono+Display&family=Monoton&family=Sevillana&display=swap');

body {
  background-color: #1a171c;
}

h1{
  color: white;
  font-family: "Condiment", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 130px;
}

header {
  height: 150px;
}
